// Add your own CSS here!

:root {
  --light: #24293D;
  --dark: #F1F1E6;
  --secondary: #BEC5E3;
  --tertiary: #84a59d;
  --visited: #4a575e;
  --primary: #84a59d;
  --gray: #E7E9F2;
  --lightgray: #323858;
  --outlinegray: #323858;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #574010;
}

[saved-theme="dark"] {
  --light: #24293D !important;
  --dark: #F1F1E6 !important;
  --secondary: #BEC5E3 !important;
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #f58382 !important;
  --gray: #E7E9F2 !important;
  --lightgray: #323858 !important;
  --outlinegray: #323858 !important;
  --highlighted: #574010;
}